<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znv.dao.mapper.PrivilegeModuleServiceMapper">
    <!--通过<resultMap>映射实体类属性名和表的字段名对应关系 -->
    <resultMap type="java.util.HashMap" id="privilegeModuleLinkMap">
        <result property="id" column="id" />
        <result property="privilegeId" column="privilege_id" />
        <result property="moduleId" column="module_id" />
    </resultMap>

    <select id="queryPrivilegeModuleLinks" resultType="map" resultMap="privilegeModuleLinkMap">
        SELECT * FROM t_link_privilege_module
        WHERE
        <if test="id != null">id = #{id} AND </if>
        <if test="privilegeId != null">privilege_id = #{privilegeId} AND </if>
        <if test="moduleId != null">module_id = #{moduleId} AND </if>
        1=1;
    </select>

    <insert id="insertPrivilegeModuleLink" parameterType="map" useGeneratedKeys="false">
        INSERT INTO t_link_privilege_module (privilege_id, module_id)
        VALUES (
        #{privilegeId, jdbcType=BIGINT},
        #{moduleId, jdbcType=BIGINT}
        );
    </insert>

    <insert id="insertPrivilegeModulesLink" parameterType="map" useGeneratedKeys="false">
        INSERT INTO t_link_privilege_module (privilege_id, module_id)
        VALUES
        <foreach collection="moduleIds" item="item" separator=",">
            (
            #{privilegeId, jdbcType=BIGINT},
            #{item, jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <update id="updatePrivilegeModuleLink" parameterType="map" useGeneratedKeys="false">
        UPDATE t_link_privilege_module SET
            privilege_id = #{privilegeId, jdbcType=BIGINT},
            module_id = #{moduleId, jdbcType=BIGINT}
        WHERE id = #{id, jdbcType=BIGINT};
    </update>

    <delete id="deletePrivilegeModuleLink" parameterType="map">
        DELETE FROM t_link_privilege_module
        WHERE
        <if test="id != null">id = #{id} AND </if>
        <if test="privilegeId != null">privilege_id = #{privilegeId} AND </if>
        <if test="moduleId != null">module_id = #{moduleId} AND </if>
        1=1;
    </delete>

    <delete id="deletePrivilegeModuleLinks" parameterType="map">
        DELETE FROM t_link_privilege_module
        WHERE
        <if test="ids != null">id in (${ids}) AND </if>
        <if test="privilegeId != null">privilege_id = #{privilegeId} AND </if>
        <if test="moduleIds != null">module_id in (${moduleIds}) AND </if>
        1=1;
    </delete>
</mapper>