<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
	<!--先定义所有的appender -->
	<appenders>
		<!--这个输出控制台的配置 -->
		<Console name="stdout" target="SYSTEM_OUT">
			<!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
			<ThresholdFilter level="trace" onMatch="ACCEPT"
				onMismatch="DENY" />
			<!--这个都知道是输出日志的格式 -->
			<PatternLayout
				pattern="%d{ABSOLUTE} %5p - %m - %class{36}.%M(%F:%L) [%t:%r]%n" />
		</Console>
		<!--Debug 日志配置 -->
		<RollingFile name="D" fileName="../logs/log_debug.log"
			filePattern="log/$${date:yyyy-MM}/log_debug-%d{MM-dd-yyyy}-%i.log.gz">
			<ThresholdFilter level="DEBUG" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout
				pattern="%-d{yyyy-MM-dd HH:mm:ss} %5p - %m (%class{36}.%M:%L) [%t:%r]%n" />
			<SizeBasedTriggeringPolicy size="20 MB" />
		</RollingFile>
		<!--INFO 日志配置 -->
		<RollingFile name="I" fileName="../logs/log_info.log"
			filePattern="log/$${date:yyyy-MM}/log_info-%d{MM-dd-yyyy}-%i.log.gz">
			<ThresholdFilter level="INFO" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout
				pattern="%-d{yyyy-MM-dd HH:mm:ss} %5p - %m (%class{36}.%M:%L) [%t:%r]%n" />
			<SizeBasedTriggeringPolicy size="20 MB" />
		</RollingFile>
		<!--ERROR 日志配置 -->
		<RollingFile name="E" fileName="../logs/log_error.log"
			filePattern="log/$${date:yyyy-MM}/log_error-%d{MM-dd-yyyy}-%i.log.gz">
			<ThresholdFilter level="ERROR" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout
				pattern="%-d{yyyy-MM-dd HH:mm:ss} %5p - %m (%class{36}.%M:%L) [%t:%r]%n" />
			<SizeBasedTriggeringPolicy size="20 MB" />
		</RollingFile>
	</appenders>
	<loggers>
		<logger name="org" level="error" additivity="false">
			<appender-ref ref="stdout" />
			<appender-ref ref="E" />
		</logger>
		<root level="info">
			<appender-ref ref="D" />
			<appender-ref ref="stdout" />
			<appender-ref ref="I" />
			<appender-ref ref="E" />
		</root>
	</loggers>
</configuration>
